
h1 {
  color: red;
  text-align: center;
  margin-top: 45px;
}

h2 {
  color: red;
  text-align: center;
}

footer{
  border-top: 6px solid rgba(51, 51, 51, 0.25);
  margin-top: 100px;
  text-align: center;
}

footer p{
  margin-right: auto;
  margin-left: auto;
}

img{
  margin: 2%;
  padding: 0% !important;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  margin-left: 50px;
  height: 312px !important;
  width: 223px !important;
}

.box{
  background-color: black;
  margin-top: -44px;
}

.col l2{
    background-color: black;
}

.btn {
  color:red !important;
  background-color: black !important;
  margin: 1%;
}

p {
  text-align:center;
  font-size: 25;
}
